<!doctype html>

<html lang="en">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hammersmith+One">
  <link rel="stylesheet" href="/static/index.css" />
  <title>How hipster is your music taste?</title>
  <meta name="description" content="How hipster is your music taste?">
</head>

<body>
  <div class="wrapper">
    <div>
      <h1>How hipster is your music taste?</h1>
      <a
        href="https://accounts.spotify.com/authorize?client_id=baaa26132b5246beb7835f8d56952362&response_type=token&redirect_uri=http://localhost:5000/redirect&scope=user-top-read">Log
        in with Spotify</a>
    </div>
  </div>
</body>

</html>