<!doctype html>

<html lang="en">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hammersmith+One">
  <link rel="stylesheet" href="/static/index.css" />
  <title>How hipster is your music taste?</title>
  <meta name="description" content="How hipster is your music taste?">
</head>

<body>
  <div class="wrapper">
    <div>
      <h1>How hipster is your music taste?</h1>
        <p>You don't have enough tracks. Maybe you're a true hipster.</p>
    </div>
  </div>
</body>

</html>